<section>
    <button type="button" class="btn btn-primary" data-bind="click:back">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back To Issues
    </button>
    <h2 data-bind="text: displayName"></h2>
    <span data-bind="text: name"></span>
    <button type="button" class="btn btn-danger" data-bind="click:cancel">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel
    </button>
    <button type="button" class="btn btn-success" data-bind="click:save">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
    </button>
</section>
